/* Global */
body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #dadada;
}

.container{
    width: 25%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #505050 groove;
    border-radius: 12px;
}

/* Header */
header{
    background: #31A4D9;
    overflow: hidden;
    min-height: 70px;
    margin-bottom: 30px;
}

header h1{
    color: #fff;
    text-align: center;
}

/* Form */
.field{
    margin-bottom: 10px;
}

.field input[type="date"], .field input[type="number"]{
    font-size: 15px;
}

.main-label{
    font-weight: bold;
    font-size: 18px;
}

#select-activity{
    margin-top: 10px;
}

#activity-div{
    margin-top:5px;
}

#activity-div label{
    font-size: 18px;
}

#date{
    width: 17ch;
}

#distance{
    width: 8ch;
}

.time{
    width: 5ch;
}

#calories, #elevation{
    width: 6ch;
}

/* Button */
.button-container{
    width: 30%;
    margin: auto;
}

.button{
    text-transform: uppercase;
    background-color: #8BD554;
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 12px;
}

.button:hover{
    background-color: #00A83A;
}
